[Desktop Entry]
Type=Application
Name=OuterClient
Comment=OuterClient Minecraft Launcher
Exec=REPLACE_WITH_ABSOLUTE_PATH/run_outerclient.sh
Path=REPLACE_WITH_ABSOLUTE_PATH
Icon=REPLACE_WITH_ABSOLUTE_PATH/assets/outerclient-logo.png
Terminal=false
Categories=Game;
StartupNotify=true
StartupWMClass=Outerclient
X-KDE-StartupNotify=true
X-AppImage-Version=6.3.2
